services:
  # Build a Base-Image based on the the submodul code
  api:
    build:
      # Context projectroot, LibreChat and overwrite is visible
      context: ../
      dockerfile: Dockerfile
    environment:
      UID: 1000
      GID: 1000
      DOMAIN_CLIENT: https://turbo.motorpresse.de
      DOMAIN_SERVER: https://turbo.motorpresse.de
      DEBUG_LOGGING: false
      DEBUG_CONSOLE: false
      DEBUG_PLUGINS: false
      # We use litellm = (custom)
      ENDPOINTS: agents,custom
      CREDS_KEY: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/CREDS_KEY
      CREDS_IV: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/CREDS_IV
      ALLOW_REGISTRATION: false
      ALLOW_SOCIAL_LOGIN: true
      ALLOW_PASSWORD_RESET: true
      JWT_SECRET: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/JWT_SECRET
      JWT_REFRESH_SECRET: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/JWT_REFRESH_SECRET
      SAML_ENTRY_POINT: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/SAML_ENTRY_POINT
      SAML_ISSUER: https://turbo.motorpresse.de
      SAML_CERT: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/SAML_CERT
      SAML_CALLBACK_URL: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/SAML_CALLBACK_URL
      SAML_SESSION_SECRET: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/SAML_SESSION_SECRET
      SAML_EMAIL_CLAIM: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
      SAML_USERNAME_CLAIM: http://schemas.microsoft.com/identity/claims/objectidentifier
      SAML_GIVEN_NAME_CLAIM: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname
      SAML_FAMILY_NAME_CLAIM: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname
      SAML_NAME_CLAIM: http://schemas.microsoft.com/identity/claims/displayname
      SAML_BUTTON_LABEL: Login
      SAML_IMAGE_URL: /assets/microsoft.svg
      OPENID_GRAPH_SCOPES: ""
      EMAIL_HOST: 192.168.11.9
      EMAIL_ENCRYPTION: none
      EMAIL_ALLOW_SELFSIGNED: true
      # Username and pass not used but needed
      EMAIL_USERNAME: foo
      EMAIL_PASSWORD: bar
      EMAIL_FROM_NAME: turbo.motorpresse.de
      EMAIL_FROM: noreply@turbo.motorpresse.de
      APP_TITLE: "Motorpresse TURBO - Dein Assistent"
      SERPER_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/SERPER_API_KEY
      FIRECRAWL_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/FIRECRAWL_API_KEY
      FIRECRAWL_API_URL: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/FIRECRAWL_API_URL
      JINA_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/JINA_API_KEY
volumes:
     - /srv/LibreChat/api/images:/app/client/public/images
     - /srv/LibreChat/api/uploads:/app/uploads
     - /srv/LibreChat/api/logs:/app/api/logs
  mongodb:
    volumes:
     - /srv/LibreChat/mongodb/data/:/data/db
  meilisearch:
    volumes:
     - /srv/LibreChat/meilisearch/meili_data_v1.12:/meili_data
  vectordb:
    volumes:
     - /srv/LibreChat/vectordb/pgdata2:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_DB
      POSTGRES_USER: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_USER
      POSTGRES_PASSWORD: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_PASSWORD
  rag_api:
    environment:
      POSTGRES_DB: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_DB
      POSTGRES_USER: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_USER
      POSTGRES_PASSWORD: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/POSTGRES_PASSWORD
      OPENAI_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/OPENAI_API_KEY

 # ADD LITELLM BASIC - NEED TO CONFIGURE litellm-config.yaml, ONLY NEED ENV TO ENABLE REDIS FOR CACHING OR LANGFUSE FOR MONITORING
  litellm:
    build:
       context: .
       dockerfile_inline: |
         FROM ghcr.io/berriai/litellm:main-latest
         ADD overwrite/files/litellm-config.yaml /app/config.yaml
    ports:
      - "4000:8000"
    command: [ "--config", "/app/config.yaml", "--port", "8000", "--num_workers", "8" ]
    environment:
      OPENAI_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/OPENAI_API_KEY
      ANTHROPIC_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/ANTHROPIC_API_KEY
      MISTRAL_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/MISTRAL_API_KEY
      GEMINI_API_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/GEMINI_API_KEY
      #GOOGLE_APPLICATION_CREDENTIALS: /app/application_default_credentials.json ## only if using Google Vertex
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/REDIS_PASSWORD
      LANGFUSE_PUBLIC_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/LANGFUSE_PUBLIC_KEY
      LANGFUSE_SECRET_KEY: passbolt://d70b4c17-96a0-4485-a1aa-dd3a1e3b7d9f/custom_fields/LANGFUSE_SECRET_KEY
      LANGFUSE_HOST: http://langfuse.ams.to:3000
      NO_DOCS: "True"
      NO_REDOC: "True"

 # ADD LITELLM CACHING
  redis:
    image: redis:7-alpine
    command:
    - sh
    - -c # this is to evaluate the $REDIS_PASSWORD from the env
    - redis-server --appendonly yes --requirepass $$REDIS_PASSWORD ## $$ because of docker-compose
    environment:
      REDIS_PASSWORD: passbolt://0dc3646b-9766-49c5-9ea0-a9eee2cfe9b80dc3646b-9766-49c5-9ea0-a9eee2cfe9b8/custom_fields/REDIS_PASSWORD
    volumes:
    - /srv/LibreChat/redis/data:/data
